.genre-container {
    padding: 20px;
    color: #ffffff;
  }
  
  .genre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .genre-item {
    background-color: #333;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: #d4b244;
  }
  
  .genre-item:hover {
    background-color: #444;
  }
  