.movie-item {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.movie-link {
  text-decoration: none;
  color: black;
}

.admin-buttons {
  margin-top: 10px;
}

.update-button, .delete-button {
  margin: 5px;
}
