/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b19000;
    padding: 1rem;
    color: white;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .logo h1 {
    margin: 0;
    color: #f4c10f;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  .search-bar button {
    padding: 0.5rem;
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  
  .search-bar button:hover {
    background-color: #444444;
  }
  