  /* PopularMovies.css */

  /* Hero Section */
  .hero-section {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
    background-image: url('../assets/images/the_creator_poster.jpg'); /* Adjust the path if needed */
    background-size: cover;
    background-position: center;
  }
  
  
    .hero-section::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    }
  
    .hero-content {
      position: relative;
      z-index: 1;
    }
  
    .hero-content h1 {
      font-size: 3rem;
      margin-bottom: 10px;
    }
  
    .hero-content p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  
    .explore-btn {
      padding: 10px 20px; /* Padding for the button */
      font-size: 1.2rem; /* Increased font size */
      background-color: #f4c10f; /* Button color */
      color: black; /* Text color for the button */
      border: none; /* No border */
      border-radius: 5px; /* Rounded corners */
      cursor: pointer; /* Pointer cursor on hover */
      transition: background-color 0.3s ease; /* Smooth transition */
    }
    
    .explore-btn:hover {
      background-color: #e3b70f; /* Darker shade on hover */
    }
  
    /* Section Title */
    .section-title {
      font-size: 2rem;
      margin: 30px 0 20px;
      text-align: center;
      color: #333;
    }
  
    /* Movie Grid */
    .movie-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Increased min size */
      gap: 30px; /* More space between cards */
      padding: 0 40px;
    }
  
    .movie-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Slightly larger shadow */
      overflow: hidden;
      transition: transform 0.3s ease;
      padding-bottom: 10px; /* Add space at the bottom */
    }
  
    .movie-card:hover {
      transform: scale(1.05);
    }
  
    .movie-image {
      width: 100%;
      height: 260px; /* Increase image height */
      object-fit: cover;
    }
  
    .movie-title {
      padding: 15px 10px;
      font-size: 1.1rem; /* Slightly larger title */
      color: #333;
    }
  
