/* SearchForm.css */

.search-form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #1d3557; /* Deep blue border */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #a8dadc; /* Soft teal background */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1d3557; /* Deep blue text color */
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #1d3557; /* Deep blue border */
  border-radius: 4px;
  background-color: #f1faee; /* Light background for inputs */
  color: #1d3557; /* Dark text for readability */
}

button {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #1d3557; /* Deep blue border */
  border-radius: 4px;
  background-color: #1d3557; /* Deep blue button background */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #457b9d; /* Soft teal button hover */
}
